@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

header{
    height: 100vh;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.logo::first-letter{
    color: blueviolet;
}

.menu{
    list-style: none;
    display: flex;
}

.toggle{
    display: none;    
}

.menu li a{
    text-decoration: none;
    margin-right: 40px;
    color: black;
}

.menu li a:hover{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s;
}
section{
    text-align: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.title{
    margin-bottom: 100px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    row-gap: 40px;
    column-gap:10px ;
    top: 100px;
}

.item{
    height: 200px;
    width: 200px;
}

.item:hover{
    cursor: pointer;
    opacity: .5;
    box-shadow: 0 0 5px 5px blueviolet;
}

.item_1{
    background-image: url(../Img/boys-g7ad352602_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_2{
    background-image: url(../Img/astronomy-gb0931591e_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.item_3{
    background-image: url(../Img/children-gc9c9fdfba_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_4{
    background-image: url(../Img/hijab-g1ca5a1509_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_5{
    background-image: url(../Img/people-g577a6a092_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_6{
    background-image: url(../Img/people-gf992099df_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_7{
    background-image: url(../Img/rice-g166fad635_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_8{
    background-image: url(../Img/salt-harvesting-g423fb755b_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item_9{
    background-image: url(../Img/siblings-g60a4c1021_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and  (max-width:700px) {

    .toggle{
        display: block;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .menu{
        top: 80px;
        display: flex;
        flex-direction: column;
        position: fixed;
        text-align: center;
        width: 100%;
        line-height: 5rem;
        left: 100%;
        transition: all .8s;
    }

    .active{
        left: 0;
    }
    section{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        top: 100px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    
    .item{
        height: 200px;
        width: 200px;
    }



}